#wrap
{
	width: 1280px;
	margin: auto;
}

#menu
{
	margin-left: 400px;
	margin-bottom: -60px;
}

#menu li
{
	float: 	left;
	max-width: 200px;
	border-left: 1px dotted;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 0px;
}

#menu li a 
{
	text-decoration: none;
	color:#555555;
	font-weight: bold;
}

.SousMenu
{
	color: #999999;
	opacity: 70%;
}

#wrapper
{
	width: 1280px;
	height: 350px;
	margin: auto;
	background-color: black;
}

#banniere
{
	position: absolute;	
	z-index: 10;
	width: 1100px;
	height: 300px;
	margin-left: 90px;
	margin-top: 30px;
	border-radius:10px;
}

#Titre
{
	text-align: center;	
}


h1
{
	font-size: 30px;
}

#First, #Second ,#Third
{
	float: 	left;	
	margin-left: 40px;
	width: 	350px;
}

/*Les titres des articles */
#First h2, #Second h2, #Third h2
{
	font-size: 21px;
	color: #0050BB;
	padding-left: 10px;
	margin-bottom: -15px;
	margin-top: 10px;
}
/*------------------------*/

/* Pour les sous titres des articles */
#First .SousTitre, #Second .SousTitre, #Third .SousTitre
{
	color: grey;
	font-size: 12px;
	padding-left: 10px;
}

/*-------------------------------------*/

/* Image des articles */
#First #MonImage, #Second #MonImage, #Third #MonImage
{
	width: 100%;
	height: 100%;
}
/*--------------------------*/

/* Contenu de l'article*/
#First .CorpsArticle, #Second .CorpsArticle , #Third .CorpsArticle
{
	padding-left: 10px;
	height: 100px;
	width: 98%;
}
/*---------------------------*/

/* Boutton de l'article */
 #MonBoutton
{
	background: linear-gradient(60deg,#c0c0c0,white,#c0c0c0);
	color : #4F88A5;
	border-radius: 5px;
	float: left;
	height: 25px;
	width: 150px;
	font-size: 12px;
	padding-left: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#MonBoutton .fleche
{
	float: 	right;
}

 #MonBoutton2
{
	background: linear-gradient(to right, #1e5799 0%,#7db9e8 39%,#7db9e8 39%,#2989d8 50%,#207cca 99%);
	color : #FFFFFF;
	border-radius: 5px;
	float: left;
	height: 25px;
	width: 150px;
	font-size: 12px;
	padding-left: 10px;
	margin-left: 10px;
	margin-top: 5%;
}
#MonBoutton2 .fleche
{
	float: 	right;
}
/* ----------------------- */

#Scroll hr
{
  margin-top: 20px;
}

#Scroll2 hr
{
  padding-top: 30px;
  border-bottom: 1px solid #DDDDDD;
  border-top: none;
  border-right: none;
  border-left: none;
}

/* Article réseaux sociaux */

#SocialMedia, #Contact, #News
{
	width: 330px;
	float: left;	
	margin-left: 50px;
	max-height: 350px;

}

#SocialMedia h2 , #Contact h2, #News h2
{
	padding-top: 30px;
	font-size: 18px;
}

#SocialMedia img
{
	padding-left: 5px;
	width: 65px;
	height: 55px;
}

#Newsletter h2
{
	font-size: 	18px;
}

#Newsletter #Email
{
	border-radius: 	5px 5px;
	width: 	300px;
	text-align: 	center;
	margin-top: 	15px;
}


#Contact #Name, #Mail
{
	border-radius: 	4px 4px;
	width: 	300px;
	margin-top: 	15px;
	height: 	30px;
}

textarea
{
	height: 135px;
	border-radius: 4px 4px;
	width: 300px;
	margin-top: 15px;
}

#News img
{
	float: 	left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#News hr, #Contact hr, #SocialMedia hr
{
	border: 1px dashed #DDDDDD;
}

#Sub-news
{
	margin-bottom: 	40px;
	margin-top: 5px;
}

#BoutonSubmit 
{
	background: linear-gradient(60deg,#4F88A5,white);
}

#Barre
{
	width: 1280px;
	background-color: #555555;
	height: 15px;
}

#Infos
{
	padding-top: 40px;
	margin-left: 100px;
}

#Infos p
{
	margin-top: 10px;
}

p#copyright
{
	float:right;
	margin-right: 200px;
	margin-top: -15px;
} 

footer
{
	width: 1280px;
	height: 300px;
	margin: auto;
	background-color: #333333;
	color: #888888;
}